main {
	float: left;
	width: 100%;
  padding: 60px 0;
  background-color: blue;
}
.main-section {
	float: left;
  width: 100%;
  background-color: yellow;
}

.main-section-data {
	float: left;
  width: 100%;
  background-color: red;
  padding-right : 0
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .right-sidebar {margin-top: 50px;}
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
  }

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  .row {
	margin: 0;
}

.main-left-sidebar {
	float: left;
	width: 100%;
	margin-top: -20px;
}

.no-margin {
	margin: 0;
	border: 0;
	-webkit-border-radius: inherit;
	-moz-border-radius: inherit;
	-ms-border-radius: inherit;
	-o-border-radius: inherit;
	border-radius: inherit;
}
.pd-left-none {
	padding-left: 0;
}

.pd-right-none {
	padding-right: 0;
}

.right-sidebar {
	float: left;
	width: 100%;
}

.no-pdd {
	padding: 0;
}