  
  @media (min-width: 1280px) and (max-width: 2755px) {
    .user-list {
        padding-left: 30%;
    }
    .user-card {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        
    }


  .user-list  {
    position: relative;
    display: flex;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 100;
  }
  
  @keyframes example {
    0%   { left:0px; top:0px;}
    50%  { left:-23px; top:0px;}
    100% { left:25px; top:0px;}
  }
    
  }  
  @media (min-width: 1440px) and (max-width: 1280px) {
    .user-list {
        padding-left: 30%;
    }
    .user-card {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        
    }


  .user-list  {
    position: relative;
    display: flex;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 100;
  }
  
  @keyframes example {
    0%   { left:0px; top:0px;}
    50%  { left:-30px; top:0px;}
    100% { left:30px; top:0px;}
  }
    
  }

  @media (min-width: 1025px) and (max-width: 1440px) {
    .user-list {
        padding-left: 30%;
    }
    .user-card {
        margin-left: 5px;
        margin-right: 5px;
        width: 300px;
    }
    .user-list  {
      position: relative;
      display: flex;
      animation-name: example;
      animation-duration: 10s;
      animation-iteration-count: 10000;
    }
    
    @keyframes example {
      0%   { left:-70px; top:0px;}
      50%  { left:-158px; top:0px;}
      100% { left:-70px; top:0px;}
    }
    
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .user-list {
      display: none;
    }
    .user-card {
        display: none;
    }
    
  }

  
  @media (min-width: 375px) and (max-width: 480px) {
    .user-list {
      display: none;
    }
    .user-card {
      display: none;
    }
    
  }
  
  @media (min-width: 375px) and (max-width: 410px) {
    .user-list {
      display: none;
    }
    .user-card {
      display: none;
    }
    
  }

  @media (min-width: 75px) and (max-width: 360px) {
    .user-list {
      display: none;
    }
    .user-card {
      display: none;
    }
    
  }
  
